version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: cimg/ruby:2.7.1-node
        environment:
          RAILS_ENV: test
          CC_TEST_REPORTER_ID: 32f313c116e8ddd37dd1df71573c3e0b22795ee6d64eed696ed90bc7f0d86777
          PGHOST: 127.0.0.1
          DATABASE_URL: postgres://postgres@127.0.0.1:5432/react_rails_start_test
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: react_rails_start_test
          POSTGRES_PASSWORD: postgres
    executor: ruby/default
    steps:
      - checkout
      - run: curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
      - run: chmod +x ./cc-test-reporter
      - run: bundle install --jobs 4
      - run:
          environment:
            CC_TEST_REPORTER_ID: 32f313c116e8ddd37dd1df71573c3e0b22795ee6d64eed696ed90bc7f0d86777
          command: ./cc-test-reporter before-build
      - run: bundle exec rspec --color --require spec_helper spec --format progress
      - run:
          name: Code Climate Format Coverage
          command: |
            ./cc-test-reporter format-coverage -t simplecov -o "coverage/codeclimate.json"
      - run:
          name: Code Climate Upload Coverage
          command: ./cc-test-reporter upload-coverage --id 32f313c116e8ddd37dd1df71573c3e0b22795ee6d64eed696ed90bc7f0d86777 --debug -e https://edce-181-166-180-33.ngrok.io
